
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.header{

	text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
    border: 1px solid #3c3c3c;
    padding: 20px 0 20px 0;
    background-color: #4267b2;
    color: #fff;
    font-family: 'Arima Madurai', cursive;
}

